.intro {
  padding-top: 50px;
  width: 100%;
  padding: 80px;

  .intro-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .intro-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    .profile {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      margin: auto;
    }
  }
}